<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Couscous Salad W/tomato &amp; Herb</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Santa Fe Salad</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Stir Fry Pork With Vegetables</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Sticky Rice</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Stir Fry Noodles W/Vegetables</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Turkey Lasagna</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Oven Roasted Red Potatos</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Streamed Zucchini</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Sauteed Fresh Carrots</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Tortilla Soup</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Penne Pasta</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Linguini</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Fresh Pesto Sauce</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Caesar Salad</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Chicken Marinara Sauce</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Jasmine Rice</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Baked Potato</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Sweet Potato Baked</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Sausage Olive</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Vegetable Pizz on Wheat</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Garlic Roll</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T01:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Boston Cream Pie</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) (walnuts) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Mexican Wedding Cookie</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Cookies And Cream Cake (v)</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Cracked Wheat Bread</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Italian Chunk Salad</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Macaroni Salad</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Sliced Ham</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Sliced Provolon Cheese</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Smoked Mozzerella</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Egg Salad</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Sticky Rice</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>General Tsos Chicken</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(walnuts) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Sweet &amp; Sour Tofu W/Vegetables</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Wavy Potato Chips</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Long Grain Rice </string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Pulled Pork Sandwich W/Coleslaw</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Baked Beans</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Swiss Chard W/Fresh Garlic</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Split Pea Soup</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Sausage Olive</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Vegetable Pizza On Wheat</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Sweet Potato Baked</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Baked Potato</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Grass Fed Burger</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Gardenburger</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Been And Rice Burrito</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T19:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at Lunch.</string>
		<key>Title</key>
		<string>Shoestring Fries</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T16:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at breakfast.</string>
		<key>Title</key>
		<string>Oatmeal</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T16:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at breakfast.</string>
		<key>Title</key>
		<string>Raspberry White Chocolate Muffin </string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T16:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at breakfast.</string>
		<key>Title</key>
		<string>Chocolate Chip Scone</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T16:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at breakfast.</string>
		<key>Title</key>
		<string>Hash Browns</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T16:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at breakfast.</string>
		<key>Title</key>
		<string>Cage Free Eggs Scrambled</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T16:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at breakfast.</string>
		<key>Title</key>
		<string>Scrambled Egg Whites</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T16:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at breakfast.</string>
		<key>Title</key>
		<string>French Toast</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-21T16:00:00Z</date>
		<key>Detail</key>
		<string>(vgn) Available in Carrillo at breakfast.</string>
		<key>Title</key>
		<string>Make your Own Waffle </string>
	</dict>
</array>
</plist>
