<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Tortilla Chips And Salsa</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Pita Chips &amp; Hummus</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Sticky Rice</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Vegetable Fried Rice</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(walnuts) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Cashew Chicken</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Turkey Breast </string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Herb Stuffing</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Candied Sweet Potatoes</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Mahsed Potatoes</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Turkey Gravy</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Cranberry Sauce</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Fresh Green Beans</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Mashed Potatoes</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Cream Of Mushrom Soup</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Penne Pasta</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Sausage Marinara Sauce</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Long Grain Rice</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Fettucini Carolina</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Baked Potato</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Sweet Potato Baked</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Pepperoni</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Three Cheese On Wheat</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Hawaiian Sweet Roll</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Pumpkin Pie</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner</string>
		<key>Title</key>
		<string>Caesar Salad</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Sliced Pepper Jack Cheese</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Sliced Natural Swiss</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Tuna Salad</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Sliced Turkey Pastrami</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Beef Gyro</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Rice W/cilantro And Onions</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Cucumber Tzatziki</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Beef Noodle Soup</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Pasta Pronto</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Eggplant Parmigiano</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Steamed Crookneck Squash</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Chicken Pot Pie</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Brown Rice</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Pepperoni</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Three Cheese On Wheat</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Baked Potato</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Krinkle Cut Fries</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Charburger</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Grilled Vegetable Burger</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Grilled Cheese On Sourdough</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) (walnuts) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Almond Braids</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Jelly Bar Spritz</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(walnuts) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Toffee Square</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Fresh Garden Pasta Salad</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T07:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Fresh Garden Pasta Salad</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(walnuts) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Chinese Chicken Salad</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T19:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Lunch</string>
		<key>Title</key>
		<string>Fresh Garden Pasta Salad</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T16:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Breakfast</string>
		<key>Title</key>
		<string>Scrambled Egg Whites</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T16:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Breakfast</string>
		<key>Title</key>
		<string>Blueberry Pancakes</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T16:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Breakfast</string>
		<key>Title</key>
		<string>Cage Free Scrambled Eggs W/Chicken</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T16:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Breakfast</string>
		<key>Title</key>
		<string>Oatmeal</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T16:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Breakfast</string>
		<key>Title</key>
		<string>Arroz Con Leche</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T16:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Breakfast</string>
		<key>Title</key>
		<string>Potatoes Obrien </string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T16:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Breakfast</string>
		<key>Title</key>
		<string>Apple Bishops Coffee Cake</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T16:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Breakfast</string>
		<key>Title</key>
		<string>Whole Wheat Banana Bread</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T16:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Breakfast</string>
		<key>Title</key>
		<string>Bagels-see Breads/cereals For Choices</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T16:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Breakfast</string>
		<key>Title</key>
		<string>Cage Free Eggs Scrambled</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-22T16:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Breakfast</string>
		<key>Title</key>
		<string>Cage Free Eggs Scrambled</string>
	</dict>
</array>
</plist>
