<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Sliced Turkey Pastrami</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Caesar Salad</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Sliced Natural Swiss</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Sliced Turkey</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Sliced Cheddar Cheese</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Pesto Zucchini Soup</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Fresh Cauliflower</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Spick Meatball Sandwich</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Long Grain Rice</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Fresh Mushroom Quiche</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Baked Potatos</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Sweet Potato Baked</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Oatmeal</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Cage Free Eggs Scrambled</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Scrambled Egg Whites</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Chilequiles</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Sausage Patty</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Make Your Own Waffle</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Potatoes Fried W/onions</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Apple Bread Pudding</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-23T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Blueberry Coffee Cake</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Caesar Salad</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Sticky Rice</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>(walnuts) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Chicken Pad Thai</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) (walnuts) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Vegetable Pad Thai</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Carrots With Fresh Thyme</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Green Beans</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Italian Quinoa</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Grilled Tilapia W/Italian Spice</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Rice Pilaf W/mushrooms</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Potato Leek Soup</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Pasta Carbonara</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Rotelli</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Garden begetable Marinara</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Brown RIce</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Baked Potato</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Sweet Potato Baked</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Taco Pizza</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Mushroom On Wheat</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Pizza Bread</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Marble Cake W/Chocolate Frosting</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Caesar Salad</string>
	</dict>
</array>
</plist>
