<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Sliced Ham</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Sliced Genoa Salami</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Sliced Cheddar Cheese</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Sliced Provolone Cheese</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Sweet Potato Baked</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Baked Potato</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Fresh Broccoli Spears</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Carnitas Taco</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Vegetable Tostada Bowl</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Spanish Rice</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Country Wild Rice Blend</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Cabbage Soup</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Oatmeal</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Cage Free Eggs Scrambled</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Scrambled Egg Whites</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Peach Chunk Pancakes</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Bacon</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Make Your Own Waffle</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Hash Browns</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) (w/Nuts) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Orange Nut Muffins</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>(v) (walnuts) Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Banana Coffe Cake</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-24T18:30:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Brunch.</string>
		<key>Title</key>
		<string>Caesar Salad</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Tofu Vegetable Stir Fry</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Spicy Sauce</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Beef Chow Mein</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Peas</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Sauteed Fresh Spinach</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Chicken Cacciatora</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Pilaf Style Rice With Corn</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Stir-fry Begetales</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Spaghetti Soup</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Fettucini Alfredo</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Long Grain Rice</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Baked Rigatoni Mozzerlla</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Sweet Potato Baked</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Baked Potato</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Assorted Meat Pizza</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Tomato Pesto Pizza On Wheat</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Sourdough Bread</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>(w/nuts) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Carrot Cake W/cream Cheese</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Caesar Salad</string>
	</dict>
	<dict>
		<key>Date</key>
		<date>2013-11-25T01:00:00Z</date>
		<key>Detail</key>
		<string>(v) Available in Carrillo at Dinner.</string>
		<key>Title</key>
		<string>Sticky Rice</string>
	</dict>
</array>
</plist>
